{% extends 'base.html.twig' %}

{% block content %}

<style>
    .InformesUser {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px white;
        background-color: #9999FF;
        border-radius: 5px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    .EditarUsuario {
        background-color: #9999FF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #reunionModal {
        display: none;
    }

    .botonesInformes {
        display: inline;
        text-decoration: none;
        background-color: #9999FF;
        border-color: white;
        margin-bottom: 5px;
        float: center;
        margin-right: 8px;
    }

    .botonesInformes:hover {
        text-decoration: none;
        background-color: #CDCDFF;
        margin-bottom: 5px;
        margin-right: 8px;
    }
</style>
<div class="InformesUser">
    <div>

        <div>
            <div class="topApps3">
                <button id="btEnviar" data-toggle="modal" data-target="#reunionModal">Crear nueva</button>
                <br></br>
                <h2>Mis tareas</h2>
                <table style="text-align:center;" class='informes'>
                    <thead>
                        <tr>
                          <th>PROYECTO</th>
                          <th>NOMBRE</th>
                          <th>DESCRIPCION</th>
                          <th>FECHA INICIO</th>
                          <th>FECHA FIN</th>
                          <th>CREADOR</th>     
                          <th>PARCICIPANTES</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody >
                        {% for tarea in tareas %}
                        <tr>
                            <td>{{tarea.proyecto.c_nombreProyecto}}</td>
                            <td>{{tarea.nombre}}</td>
                            <td>{{tarea.descripcion}}</td>
                            <td>{{tarea.fechaInicio|date('Y-m-d')}}</td>
                            <td>{{tarea.fechaFin|date('Y-m-d')}}</td>
                            <td>{{tarea.creador.username}}</td>
                            <td>{{tarea.participantes|length}}</td>
                             <td>
                            {% if tarea.creador.id_usuario == usuario.id_usuario %}
                                <form method="post" action="{{path('borrar-tarea', {id: tarea.id})}}">
                                    <button id="btEnviar" type="submit">Eliminar</button>
                                </form>
                            {% endif %}
                            {% if tarea.fichero %}
                                 <form method="post" action="{{path('descargar-fichero-tarea', {id: tarea.id})}}">
                                    <button id="btEnviar" type="submit">Descargar ficheros</button>
                                </form>
                                {% endif %}
                             </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<center>
    <div id="reunionModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="reunionModalLabel" aria-hidden="true">
        <div class="EditarUsuario modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reunionModalLabel">Datos Reunion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#reunionModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm" method="post" action="{{path('crear-tarea')}}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio">Fecha Inicio</label>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFin">Fecha Fin</label>
                            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                        </div>
                        <div class="form-group">
                            <label for="progreso">Progreso</label>
                            <input type="number" min="0" max="100" class="form-control" id="progreso" name="progreso">
                        </div>
                        <div class="form-group">
                            <label for="proyecto">Proyecto</label>
                            <select class="form-control" id="proyecto" name="proyecto" required>
                                <option value="">Selecciona un proyecto</option>
                                {% for proyecto in proyectos %}
                                <option value="{{proyecto.id_proyecto}}">{{proyecto.c_nombreProyecto}}</option>
                                {% endfor %}
                            </select>
                        </div>

                          <div class="form-group">
                            <label for="participantes">Participantes</label>
                            <select class="form-control" id="participantes" name="participantes[]" multiple>
                                {% for usuario in usuarios %}
                                <option value="{{usuario.id_usuario}}">{{usuario.username}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="ficheros">Ficheros</label>
                            <input type="file" class="form-control" id="ficheros" name="ficheros[]" multiple>
                        </div>
                        <button type="submit" id="btEnviar" class="btn btn-primary" name="btEnviar">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
{% endblock %}
