{% extends 'base.html.twig' %}

{% block content %}

<form id="searchForm" method="post" action="">
    <center>
        <input type="text" name="nombre" id="searchProyectName" placeholder="Buscar por nombre Proyecto">
        <button type="submit" name="search" value="Buscar">Buscar</button>
    </center>
</form>

<style>
   .InformesUser {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px white;
        background-color: #9999FF;
        border-radius: 5px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
         width: 80%;
    }
    .informes {
        text-align: center;
    }
</style>

<div class="InformesUser">
    <div>
        <div>
            <div class="topApps3">
                <br></br>
                 <h2>Proyectos</h2>
               <table style="text-align:center" class='informes' id="tblProyectos">
                    <thead>
                        <tr>
                          <th>ID PROYECTO</th>
                          <th>NOMBRE PROYECTO</th>
                          <th>DESCRIPCION PROYECTO</th>
                          <th>FECHA INICIO</th>
                          <th>FECHA FIN</th>
                          <th>TAMAÑO DE PROYECTO(MB)</th>
                          <th>ARCHIVO DE PROYECTO</th>
                          <th>GESTOR</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for proyecto in proyectos %}
                    
                        <tr>   
                            <td>{{proyecto.id_proyecto}}</td>
                            <td>{{proyecto.c_nombreProyecto}}</td>
                            <td>{{proyecto.c_descripcionProyecto}}</td>
                            <td>{{proyecto.f_fechaInicioProyecto|date('Y-m-d')}}</td>
                            <td>{{proyecto.f_fechaFinProyecto|date('Y-m-d')}}</td>
                            <td>{{proyecto.c_tamanioArchivo}}</td>
                            <td>{{proyecto.usuario.username}}</td>
                            <td> 
                                <div>
                                    <form name='nameForm' action='{{path("envio-solicitud-participante")}}' method='post'>
                                        <input type='hidden' name='proyecto' value="{{proyecto.id_proyecto}}" />                                        
                                        <button  type='submit' id='btEnviar' name='btUnirse'>Unirse</button>
                                    </form>                                
                                </div>
                            </td> 
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
  $('#searchForm').submit(function(e) {
    e.preventDefault();
    const searchProyectName = $('#searchProyectName').val();
    $('#searchForm button[type="submit"]').attr("disabled", true);
    
    $.ajax({
        url: '{{path("buscar-proyectos")}}', 
        type: 'POST',
        data: { 
            nombre: searchProyectName,
            activo: true
        },
        success: function(response) {
            const proyects = response;
            let html = '';

            if (proyects.length > 0) {
                proyects.forEach(proyect => {
                    html += `<tr>
                              <td>${proyect.id_proyecto}</td>
                              <td>${proyect.c_nombreProyecto}</td>
                              <td>${proyect.c_descripcionProyecto}</td>
                              <td>${moment(proyect.f_fechaInicioProyecto).format('YYYY-MM-DD')}</td>
                              <td>${moment(proyect.f_fechaFinProyecto).format('YYYY-MM-DD')}</td>
                              <td>${proyect.c_tamanioArchivo}</td>
                              <td>${proyect.usuario.username}</td>
                              <td>
                                <div>
                                    <form name='nameForm' action='{{path("envio-solicitud-participante")}}' method='post'>
                                        <input type='hidden' name='proyecto' value="${proyect.id_proyecto}" />
                                        <button type='submit' id='btEnviar' name='btUnirse'>Unirse</button>
                                    </form>                                
                                </div>
                                <td>
                            </tr>`;
                });
            } else {
                html = '<tr><td colspan="10" align="center">No se encontraron proyectos con esos datos.</td></tr>';
            }

            $('#tblProyectos tbody').html(html);
        },
        complete: function(){
            $('#searchForm button[type="submit"]').removeAttr("disabled");
        }
    });
});
    
</script>

{% endblock %}