    <header>
        <nav class="barra">
            <div class="principal">
                <a href="/"><img src="/practicaAvance4/public/images/LogoPagina.PNG" width="75" height="90"></a>
                <img src="/practicaAvance4/public/images/BentaTecnologies.gif" width="375" height="90">
            </div>
            <div class="divisores">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="botones" href="{{path('showRegistro')}}"><img src="/practicaAvance4/public/images/user.PNG" width="30" height="30">
                    <FONT COLOR="white" SIZE=4>Registro</FONT>
                    </a>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                    <a class='botones' href="{{path('miPerfil')}}"><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                    <FONT COLOR='white' SIZE=4>Mi Perfil</FONT></a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class='botones' href='{{path("informe-usuarios")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Informes Usuarios</FONT></a>
                        <a class='botones' href='{{path("admin-proyectos")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Buscador Proyectos</FONT></a>
                        {% elseif is_granted('ROLE_GESTOR') %}
                        <a class='botones' href='{{path("informe-usuarios-gestor")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Buscador Usuarios</FONT></a>
                        <a class='botones' href='{{path("gestor-proyectos")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Mis Proyectos</FONT></a>
                        <div class='dropdown'>
                            <button class='dropbtn'><img class='botonFiltro' src='/practicaAvance4/public/images/filtrado.png'><FONT COLOR='white'>Utilidades</FONT></button>
                            <div class='dropdown-content'>
                                <a href='FormularioCreaEdiProyectos.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Formularios de proyectos</span></a>
                                <a href='FormularioCreaEdiTareas.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Formularios Tareas</span></a>
                                <a href='FormularioConvReunion.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Convocar Reunion</span></a>
                            </div>
                        </div>
                        <a class='botones' href='{{path("solicitudes-gestor")}}'><img src='/practicaAvance4/public/images/notificacion.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Solicitudes Gestor</FONT></a>
                        <a class='botones' href='{{path("reuniones-gestor")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Reuniones</FONT></a>
                         <a class='botones' href='{{path("tareas-gestor")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Tareas</FONT></a>
                        {% elseif is_granted('ROLE_CLIENTE') %}
                        <a class='botones' href='{{path("usuario-buscador-proyectos")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Buscador Proyectos</FONT></a>
                        <a class='botones' href='{{path("usuario-proyectos")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Mis Proyectos</FONT></a>
                        <a class='botones' href='{{path("solicitudes-usuario")}}'><img src='/practicaAvance4/public/images/notificacion.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Solicitudes Participante</FONT></a>
                        <a class='botones' href='{{path("reuniones-usuario")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Reuniones</FONT></a>
                        <a class='botones' href='{{path("tareas-usuario")}}'><img src='/practicaAvance4/public/images/user.PNG' width='30' height='30'>
                        <FONT COLOR='white' SIZE=4>Tareas</FONT></a>
                            {# <div class='dropdown'>
                                <button class='dropbtn'><img class='botonFiltro' src='/practicaAvance4/public/images/filtrado.png'><FONT COLOR='white'>Utilidades</FONT></button>
                                <div class='dropdown-content'>
                                    <a href='FormularioCreaEdiProyectos.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Formularios de proyectos</span></a>
                                    <a href='FormularioCreaEdiTareas.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Formularios Tareas</span></a>
                                    <a href='FormularioConvReunion.php'><img class='filtrado' src='/practicaAvance4/public/images/editar.png'><span class='tabulacion'>Convocar Reunion</span></a>
                                </div>
                            </div> #}
                        {% endif %}

                    <a class="botones" href="{{ path('logout') }}"><img src="/practicaAvance4/public/images/user.PNG" width="30" height="30">
                    <FONT COLOR="white" SIZE=4>SALIR</FONT>
                    </a>

                {% endif %}
            </div>
        </nav>
    </header>
    <hr>
