{% extends 'base.html.twig' %}

{% block content %}
    <div id="containerRegistrar">
        <form id="registro" action="{{ path('registro') }}" name="formulario" method="post">
            <div class="title"><FONT COLOR="white">Registro de usuarios</FONT></div>
            <div id="alerts" class="alerts" style="display: none">Existen errores en el formulario</div>
            <input type="hidden" value="control">
            <div class="content">
                <div class="row">
                    <div class="label"><label for="username"><FONT COLOR="white">Username</FONT></label></div>
                    <div class="field">
                        <input type="text" id="username" name="username" 
                        value="{{ datos.username is defined ? datos.username : '' }}"
                        placeholder="Introduce un username valido" />
                        <span id="username_help" class="username"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="label"><label for="email"><FONT COLOR="white">Email</FONT></label></div>
                    <div class="field">
                        <input type="text" id="email" name="email" 
                        value="{{ datos.email is defined ? datos.email : '' }}" 
                        placeholder="Introduce un email valido" />
                        <span id="email_help" class="help"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="label"><label for="nombre"><FONT COLOR="white">Nombre</FONT></label></div>
                    <div class="field">
                        <input type="text" id="nombre" name="nombre" 
                        value="{{ datos.nombre is defined ? datos.nombre : '' }}" 
                        placeholder="Introduce un nombre valido" />
                        <span id="nombre_help" class="help"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="label"><label for="apellidos"><FONT COLOR="white">Apellidos</FONT></label></div>
                    <div class="field">
                        <input type="text" id="apellidos" name="apellidos"
                        value="{{ datos.apellidos is defined ? datos.apellidos : '' }}" 
                         placeholder="Introduce aqui tus apellidos" />
                        <span id="apellidos_help" class="help"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="label"><label for="password"><FONT COLOR="white">Contraseña</FONT></label></div>
                    <div class="field"><input class="field" type="password" id="password" name="password" placeholder="Introduce aqui tu contraseña" />
                    </div>
                    <span id="password_help" class="help"></span>
                </div>
                <div class="row">
                    <div class="label"><label for="password1"><FONT COLOR="white">Repite contraseña</FONT></label></div>
                    <div class="field"><input type="password" id="password1" name="password1" placeholder="Introduce de nuevo tu contraseña" />
                        <span id="password1_help" class="help"></span>
                    </div>
                </div>

                <div id="vipPane" class="vipPane" style="display: block; background-color: #ccc">
                    <div class="row field">
                        <label for="tipo">Tipo de rango</label>
                        <input type="radio" id="tipo_0" name="tipo" value="3" {{ datos.tipo is defined and datos.tipo == 3? 'selected' : '' }} />Participante
                        <input type="radio" id="tipo_1" name="tipo" value="2" {{ datos.tipo is defined and datos.tipo == 2? 'selected' : '' }} /> Usuario gestor de proyectos
                        <input type="radio" id="tipo_2" name="tipo" value="1" {{ datos.tipo is defined and datos.tipo == 1? 'selected' : '' }} /> Administrador
                    </div>   
                    <div id="div_gestor" style="display: none">
                        <div class="row">
                        <select class="field" id="labor" name="labor">
                                <option id="labor_1" value="labor_1" selected>Proyectos Propios</option>
                                <option id="labor_2" value="labor_2">Asignar usuarios al proyecto</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="label"><label for="proyectos">Asignar Usuarios al Proyecto</label></div>
                            <div class="field"><input class="field" type="proyectosUsuariosGestor" id="proyectosUsuariosGestor" name="proyectosUsuariosGestor" placeholder="Lista de Usuarios asignar" /></div>
                        </div>
                        
                    </div>
                    <div id="catpcha">
                        <p class="catpcha">
                            <label class="Catpcha">¿Eres un robot?<i class="fas fa-check"></i><i class="fas fa-times"></i> </label>
                            <input type="text" name="catpcha" id="inputCatpcha">
                            <span class="sumaCatpcha"></span>
                            <span id="catpcha_help" class="help"></span>
                        </p>
                    </div>
                
                </div>
                <div class="row">
                    <button type="submit" id="btEnviar" name="btEnviar">Enviar</button>
                    <button type="reset" id="btClear" name="btClear">Borrar</button>
                </div>
            </div>
        </form>
        
    </div>
{% endblock %}